[run]
source = wilhelmina
omit = wilhelmina/tests/*

[report]
exclude_lines =
    # Don't complain about import blocks
    pragma: no cover
    # Don't complain if tests don't hit defensive assertion code:
    raise NotImplementedError
